/* @import url("~leaflet/dist/leaflet.css");

body {
    margin: 0;
    padding: 0;
}



.map-container {
    width: 100%;
    height: 100vh;
}

.leaflet-container {
    width: 100%;
    height: 100vh;
} */

body {
    margin: 0px;
}

#map {
    width: 100%;
    height: 100%;
    z-index: 100;
}

#mapSearchContainer {
    position: fixed;
    top: 20px;
    right: 40px;
    height: 30px;
    width: 180px;
    z-index: 110;
    font-size: 10pt;
    color: #5d5d5d;
    border: solid 1px #bbb;
    background-color: #f8f8f8;
}

.pointer {
    position: absolute;
    top: 86px;
    left: 60px;
    z-index: 99999;
}

.geocoder-control-input {
    background-image: url("https://raw.githubusercontent.com/Esri/esri-leaflet-geocoder/master/src/img/search.png");
}

/* Auto-complete searchbar */
.autocomplete-container {
    /*the container must be positioned relative:*/
    position: relative;

    margin-bottom: 30px;
}

.autocomplete-container input {
    width: calc(100% - 43px);
    outline: none;

    border: 2px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    padding-right: 31px;
    font-size: 16px;
}

.autocomplete-items {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: calc(100% + 2px);
    left: 0;
    right: 0;

    background-color: #fff;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: rgba(0, 0, 0, 0.1);
}

.autocomplete-items .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: rgba(0, 0, 0, 0.1);
}

.clear-button {
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;

    position: absolute;
    right: 5px;
    top: 0;

    height: 100%;
    display: none;
    align-items: center;
}

.clear-button.visible {
    display: flex;
}


.clear-button:hover {
    color: rgba(0, 0, 0, 0.6);
}